{% include "navbar.html" %}

{% block content %}
    <body class="bg-dark text-white">
        <div class="container">
            <br><br>
            <h1>COVID-19 Tracking</h1> <br>

            <div class="jumbotron container-fluid">
                <h1 class="display-5 text-dark" style="text-align:center">U.S. Death Count: {{ counter }}</h1>
            </div>
            
                <form method="POST" action="/trackCOVID" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-primary mb-2">Get State/Population Data</button>
                    </div>
                </form><br>

                {% autoescape false %}
                    {% for result in results %}
                        {{ result }}
                    {% endfor %}
                {% endautoescape %}

            <h6>Using finnhub's <a href="https://finnhub.io/docs/api" target="_blank">API</a></h6>
        </div>
    </body>
{% endblock %}