{% include "navbar.html" %}

{% block content %}
    <body class="bg-dark text-white">
        <div class="jumbotron jumbotron-fluid bg-info text-dark">
            <div class="container">
              <h1 class="display-4">Home Page</h1>
              <p class="lead">This is my projects site, built on the <a class="text-dark" href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask Framework</a><br>
                Primarily, this is my sandbox to play around with APIs.<br>
                Most of these pages were created as ways to view data that I wanted to access on demand.</p>
            </div>
          </div>
          <div class="container">
            <form method="POST" action="/quote">
              <p>"We're making this analogy that AI is the new electricity. Electricity transformed industries: agriculture, transportation, communication, manufacturing."
                
                --Andrew Ng
              </p>
            </form>
          </div>
        </body>
{% endblock %}