{% include "navbar.html" %}

{% block content %}
    <body class="bg-dark text-white">
        <div class="jumbotron jumbotron-fluid bg-info text-dark">
            <div class="container">
              <h1 class="display-4">Home Page</h1>
              <p class="lead">
                This is the site where I host the different projects that I am working on in my spare time.<br>Built using the <a class="text-dark" href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask Framework.</a>
              </p>
            </div>
          </div>
          <div class="container">
            <form method="POST" action="/quote">
              <p>"We're making this analogy that AI is the new electricity. Electricity transformed industries: agriculture, transportation, communication, manufacturing."
                
                --Andrew Ng
              </p>
            </form>
          </div>
        </body>
{% endblock %}