{% include "navbar.html" %}

{% block content %}
    <body class="bg-dark text-white">
        <div class="container">
            <br><br>
            <h1>Top Market Headlines</h1> <br>

                {% autoescape false %}
                    {% for result in results %}
                        {{ result }}
                    {% endfor %}
                {% endautoescape %}

            <h6>Using finnhub's <a href="https://finnhub.io/docs/api" target="_blank">API</a></h6>
        </div>
    </body>
{% endblock %}