{% include "navbar.html" %}

{% block content %}
    <body class="bg-dark text-white">
        <div class="container">
            <br><br>
            <h1>Stock Price Checker</h1><br>
                <form method="POST" action="/requestStock" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="input" class="sr-only">Stock Price Check</label>
                        <input type="text" class="form-control" id="input" name="ticker" placeholder="Ticker" maxlength="6" required onkeyup="this.value = this.value.toUpperCase();">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Check!</button>
                </form><br>

                <p>
                    {% autoescape false %}
                        {{ results }}
                    {% endautoescape %}
                </p>

            <br><br>
            <h6>Using finnhub's <a href="https://finnhub.io/docs/api" target="_blank">API</a></h6>
        </div>
    </body>
{% endblock %}