{% include "navbar.html" %}

{% block content %}
    <body class="bg-dark text-white">
        <div class="container">
            <br><br>
            <h1>Check the Weather</h1><br>
                
            <form method="POST" action="/checkWeather" class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="input" class="sr-only">Stock Price Check</label>
                <input type="text" class="form-control" id="input" name="zip" placeholder="Zip Code" maxlength="5" required >
              </div>
              <button type="submit" class="btn btn-primary mb-2">Check!</button>
            </form><br>

          <h6>
            {% autoescape false %}
                {% for result in results %}
                  {{ result }}
                {% endfor %}
            {% endautoescape %}
          </h6><br>

          <h6>Using OpenWeather's <a href="http://api.openweathermap.org" target="_blank">API</a></h6>
        </div>
    </body>
{% endblock %}